<!DOCTYPE html>
<html lang="en">
<style>
div {
  background-image: url('https://www.rd.com/wp-content/uploads/2018/01/01_Common-Myths-About-Airplanes-You-Need-to-Stop-Believing_559714906_motive56-760x506.jpg');

 background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
</style>



<head>

    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">



</body>
</html>


