<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% extends "base.html" %}
{% block content %}
    <div class='container'>
        <div class='row' align='center'>
            <form class='col s12 m12' method='POST'>
            <div class='row'>
                <div class="col s12 m12">
                    <h1> Enter your ticket request😊! </h1>
                    <i class="large material-icons">🛫</i>
                </div>
            </div>

            <div class='row'>
                <div class="input-field col s12 m12" >
                    <input  name='from' id="name" type="text" value='TIA'>
                    <label for="from"></label>
                </div>
                <div class="input-field col s12 m12" >
                    <input  name='to' id="first_name" type="text" value='LDN'>
                    <label for="To">To</label>
                <i class="large material-icons">🛬</i>
                </div>
                </div>
                <div class='row' align='center'>
                <h1> Date From</h1>
                <div class="input-field col s12 m12" >
                    <input  name='dayfrom' id="dayfrom" type="number" value='05'>
                    <label for="Day from">Day from</label>
                </div>
                </div>
                <div class="input-field col s12 m12" >
                    <input  name='monthfrom' id="monthfrom" type="number" value='06'>
                    <label for="Month from">Month from</label>
                </div>
                <div class="input-field col s12 m12" >
                    <input  name='yearfrom' id="yearfrom" type="number" value='2020'>
                    <label for="Year from">Year from</label>
                </div>
                <h1> Date To</h1>
                <div class="input-field col s12 m12" >
                    <input  name='dayto' id="dayto" type="number" value='05'>
                    <label for="Day to">Day to</label>
                </div>
                </div>
                <div class="input-field col s12 m12" >
                    <input  name='monthto' id="monthto" type="number" value='07'>
                    <label for="Month to">Month to</label>
                </div>
                <div class="input-field col s12 m12" >
                    <input  name='yearto' id="yearto" type="number" value='2020'>
                    <label for="Year to">Year to</label>
                </div>


            </div>
        </div>

        <div class='row' align='center'>
            <button class="btn waves-effect waves-light" type="submit">Submit
            </button>
        </div>
        </form>
        </div>




</div>

</body>
<body style="font-color:red;">



</body>
    </div>
    </div>
{% endblock %}
